In [2]:
import inspect

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import spark as spark

In [3]:
df = pd.read_excel("posts.xlsx")
df.head()

,Unnamed: 0,id,date,text,publisher,reaction,comment
0,0,95367da2-8313-49c4-81f5-cbb1f8af69be,2023-01-14 17:17:08.793,"–ß—Ç–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –Ω–∞ –ú–æ—Å–±–∏—Ä–∂–µ, –æ—Å—Ç–∞–Ω–µ—Ç—Å—è –Ω–∞ –ú–æ—Å–±–∏...",Pulse_Official,161,111.0
1,1,c179933b-b992-41a8-953c-e8cddce0a277,2023-01-13 16:30:00.000,–í –ø—Ä—è–º–æ–º —ç—Ñ–∏—Ä–µ –í–∞—Å–∏–ª–∏–π –û–ª–µ–π–Ω–∏–∫ –∏ –ò—Ä–∏–Ω–∞ –ê—Ö–º–∞–¥—É–ª...,Tinkoff_Investments,140,29.0
2,2,9ee444e3-0ff1-4622-82b9-6ff7b1d00ec7,2023-01-12 06:50:00.000,–î–æ–±—Ä–æ–µ —É—Ç—Ä–æ! \n–ü—Ä–æ–¥–æ–ª–∂–∞–µ–º –≥–æ–≤–æ—Ä–∏—Ç—å –Ω–∞ —Ç–µ–º–∞—Ç–∏–∫—É...,Invest_Dim,315,149.0
3,3,4963f23d-f3ef-4c53-903e-74f62b851aab,2023-01-13 16:25:00.000,"–†–æ—Å—Å–∏–π—Å–∫–∏–π —Ä—ã–Ω–æ–∫¬†\n\n–ù–∞–ø–æ–º–∏–Ω–∞–µ–º, —á—Ç–æ –ø–æ¬†–∞–∫—Ü–∏—è–º...",Tinkoff_Investments,67,15.0
4,4,bedb0a0f-7657-4d27-a1fd-0b8005813eb5,2023-01-12 13:41:00.000,üìä –ò–Ω—Ñ–ª—è—Ü–∏–æ–Ω–Ω—ã–µ –æ–∂–∏–¥–∞–Ω–∏—è: —á—Ç–æ —Ç–∞–∫–æ–µ –∏ –∑–∞—á–µ–º –∏—Ö ...,FinDay,105,12.0

In [4]:
df.describe()

        Unnamed: 0     reaction       comment
count  3450.000000  3450.000000   3418.000000
mean   1724.500000   161.273043    177.120538
std     996.073541   147.782744    937.298884
min       0.000000     2.000000      1.000000
25%     862.250000    65.000000     16.000000
50%    1724.500000   129.000000     40.000000
75%    2586.750000   214.000000     91.000000
max    3449.000000  1672.000000  12891.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3450 entries, 0 to 3449
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3450 non-null   int64
 1   id          3450 non-null   object
 2   date        3450 non-null   datetime64[ns]
 3   text        3450 non-null   object
 4   publisher   3450 non-null   object
 5   reaction    3450 non-null   int64
 6   comment     3418 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 148.3+ KB

In [6]:
df['text'] = df['text'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3450 entries, 0 to 3449
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3450 non-null   int64
 1   id          3450 non-null   object
 2   date        3450 non-null   datetime64[ns]
 3   text        3450 non-null   object
 4   publisher   3450 non-null   object
 5   reaction    3450 non-null   int64
 6   comment     3418 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 148.3+ KB

In [7]:
import re

def standardize_text(text):
    text = re.sub('([$A-Z])', '', text)
    text = text.lower()
    text = re.sub('@[^\s]+', '', text)
    text = re.sub('http[^\s]+', '', text)
    text = re.sub('\$\d+\.\d{2}', '', text)
    #text = re.sub("[^0-9(),!?@\'\`\"\_\n]", " ", text) –ª–æ–º–∞–µ—Ç —Ç–µ–∫—Å—Ç
    text = re.sub(r'\d+', '', text)  # —É–±–∏—Ä–∞–µ—Ç —Ü–∏—Ñ—Ä—ã
    text = re.sub("[^\w\s]"," ", text)
    text = re.sub('\n', ' ', text)
    return text

In [8]:
df['text'][21]

'–í –°–®–ê –∑–∞–º–µ–¥–ª—è–µ—Ç—Å—è –∏–Ω—Ñ–ª—è—Ü–∏—è \n\n–ü–æ–∫–∞–∑–∞—Ç–µ–ª—å –∏–Ω—Ñ–ª—è—Ü–∏–∏ –≤ –°–®–ê –≤ –≥–æ–¥–æ–≤–æ–º –≤—ã—Ä–∞–∂–µ–Ω–∏–∏ –∑–∞ –¥–µ–∫–∞–±—Ä—å —Å–æ—Å—Ç–∞–≤–∏–ª 6,5%. –î–∞–Ω–Ω—ã–µ —Å–æ–≤–ø–∞–ª–∏ —Å –æ–∂–∏–¥–∞–Ω–∏—è–º–∏ –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤. –≠—Ç–æ —Å–∞–º—ã–π –Ω–∏–∑–∫–∏–π —É—Ä–æ–≤–µ–Ω—å —Å –æ–∫—Ç—è–±—Ä—è 2021 –≥–æ–¥–∞.\n\n–ë–∞–∑–æ–≤–∞—è –∏–Ω—Ñ–ª—è—Ü–∏—è (–æ–Ω–∞ —Ä–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ—Ç—Å—è –±–µ–∑ —É—á–µ—Ç–∞ —Ü–µ–Ω –Ω–∞ –ø—Ä–æ–¥—É–∫—Ç—ã –ø–∏—Ç–∞–Ω–∏—è –∏ —ç–Ω–µ—Ä–≥–æ–Ω–æ—Å–∏—Ç–µ–ª–∏) —Å–Ω–∏–∑–∏–ª–∞—Å—å –¥–æ 5,7%. –ü—Ä–æ–≥–Ω–æ–∑ —Ç–∞–∫–∂–µ —Å–æ–≤–ø–∞–ª.\n\n–ù–∞–ø–æ–º–Ω–∏–º, –∏–Ω—Ñ–ª—è—Ü–∏—è –∑–∞ –Ω–æ—è–±—Ä—å –±—ã–ª–∞ –Ω–∞ —É—Ä–æ–≤–Ω–µ 7,1% –≤ –≥–æ–¥–æ–≤–æ–º –≤—ã—Ä–∞–∂–µ–Ω–∏–∏, –≤ –æ–∫—Ç—è–±—Ä–µ ‚Äî 7,7%.\n\n–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ –¢–∏–Ω—å–∫–æ—Ñ—Ñ –ò–Ω–≤–µ—Å—Ç–∏—Ü–∏–π –ú–∏—Ö–∞–∏–ª–∞ –ò–≤–∞–Ω–æ–≤–∞\n\n–ö–∞–∫ –º—ã –∏ –ø–∏—Å–∞–ª–∏ –≤ —Å–≤–æ–µ–π —Å—Ç—Ä–∞—Ç–µ–≥–∏–∏ –Ω–∞ —ç—Ç–æ—Ç –≥–æ–¥, –∏–Ω—Ñ–ª—è—Ü–∏—è –ø—Ä–æ–¥–æ–ª–∂–∞–µ—Ç –∑–∞–º–µ–¥–ª—è—Ç—å—Å—è. –≠—Ç–æ–º—É –≤–æ –º–Ω–æ–≥–æ–º —Å–ø–æ—Å–æ–±—Å—Ç–≤—É–µ—Ç —Ä–µ–∑–∫–∏–π —Ä–æ—Å—Ç –∫–ª—é—á–µ–≤–æ–π —Å—Ç–∞–≤–∫–∏, –∫–æ—Ç–æ—Ä—ã–π —Ç–æ—Ä–º–æ–∑–∏—Ç —ç–∫–æ–Ω–æ–º–∏–∫—É. –ú—ã –ø–æ-–ø—Ä–µ–∂–Ω–µ–º—É –æ–∂–∏–¥–∞–µ–º, —á—Ç–æ –∏–Ω—Ñ–ª—è—Ü–∏—è –≤ –°–®–ê –ø–æ –∏—Ç–æ–≥–∞–º 2023 –≥–æ–¥–∞ –æ–ø—É—Å—Ç–∏—Ç—Å—è –¥–æ —É—Ä–æ–≤–Ω—è –æ–∫–æ–ª–æ 4-5%. –í —Ü–µ–ª–æ–º —Å–µ–≥–æ–¥–Ω—è—à–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –±—ã–ª–∏ –æ–∂–∏–¥–∞–µ–º—ã —Ä—ã–Ω–∫–æ–º, –ø–æ—ç—Ç–æ–º—É –Ω–µ –ø—Ä–∏–Ω–µ—Å–ª–∏ —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω—ã—Ö –∏–∑–º–µ–Ω–µ–Ω–∏–π –≤ –æ–∂–∏–¥–∞–Ω–∏—è –ø–æ –∫–ª—é—á–µ–≤–æ–π —Å—Ç–∞–≤–∫–µ. –†—ã–Ω–æ–∫ –∂–¥–µ—Ç, —á—Ç–æ –Ω–∞ –±–ª–∏–∂–∞–π—à–µ–º –∑–∞—Å–µ–¥–∞–Ω–∏–∏ —Ä–µ–≥—É–ª—è—Ç–æ—Ä –∑–∞–º–µ–¥–ª–∏—Ç —à–∞–≥ –ø–æ–≤—ã—à–µ–Ω–∏—è —Å—Ç–∞–≤–∫–∏ –¥–æ 25 –±. –ø.\n\n#–Ω–æ–≤–æ—Å—Ç–∏ #news\n\n–°—Ç—Ä–∞—Ç–µ–≥–∏—è: https://www.tinkoff.ru/invest/research/strategy/2022-december/'

In [9]:
standardize_text(df['text'][21])

'–≤ —Å—à–∞ –∑–∞–º–µ–¥–ª—è–µ—Ç—Å—è –∏–Ω—Ñ–ª—è—Ü–∏—è   –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –∏–Ω—Ñ–ª—è—Ü–∏–∏ –≤ —Å—à–∞ –≤ –≥–æ–¥–æ–≤–æ–º –≤—ã—Ä–∞–∂–µ–Ω–∏–∏ –∑–∞ –¥–µ–∫–∞–±—Ä—å —Å–æ—Å—Ç–∞–≤–∏–ª     –¥–∞–Ω–Ω—ã–µ —Å–æ–≤–ø–∞–ª–∏ —Å –æ–∂–∏–¥–∞–Ω–∏—è–º–∏ –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤  —ç—Ç–æ —Å–∞–º—ã–π –Ω–∏–∑–∫–∏–π —É—Ä–æ–≤–µ–Ω—å —Å –æ–∫—Ç—è–±—Ä—è  –≥–æ–¥–∞   –±–∞–∑–æ–≤–∞—è –∏–Ω—Ñ–ª—è—Ü–∏—è  –æ–Ω–∞ —Ä–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ—Ç—Å—è –±–µ–∑ —É—á–µ—Ç–∞ —Ü–µ–Ω –Ω–∞ –ø—Ä–æ–¥—É–∫—Ç—ã –ø–∏—Ç–∞–Ω–∏—è –∏ —ç–Ω–µ—Ä–≥–æ–Ω–æ—Å–∏—Ç–µ–ª–∏  —Å–Ω–∏–∑–∏–ª–∞—Å—å –¥–æ     –ø—Ä–æ–≥–Ω–æ–∑ —Ç–∞–∫–∂–µ —Å–æ–≤–ø–∞–ª   –Ω–∞–ø–æ–º–Ω–∏–º  –∏–Ω—Ñ–ª—è—Ü–∏—è –∑–∞ –Ω–æ—è–±—Ä—å –±—ã–ª–∞ –Ω–∞ —É—Ä–æ–≤–Ω–µ    –≤ –≥–æ–¥–æ–≤–æ–º –≤—ã—Ä–∞–∂–µ–Ω–∏–∏  –≤ –æ–∫—Ç—è–±—Ä–µ        –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ —Ç–∏–Ω—å–∫–æ—Ñ—Ñ –∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π –º–∏—Ö–∞–∏–ª–∞ –∏–≤–∞–Ω–æ–≤–∞  –∫–∞–∫ –º—ã –∏ –ø–∏—Å–∞–ª–∏ –≤ —Å–≤–æ–µ–π —Å—Ç—Ä–∞—Ç–µ–≥–∏–∏ –Ω–∞ —ç—Ç–æ—Ç –≥–æ–¥  –∏–Ω—Ñ–ª—è—Ü–∏—è –ø—Ä–æ–¥–æ–ª–∂–∞–µ—Ç –∑–∞–º–µ–¥–ª—è—Ç—å—Å—è  —ç—Ç–æ–º—É –≤–æ –º–Ω–æ–≥–æ–º —Å–ø–æ—Å–æ–±—Å—Ç–≤—É–µ—Ç —Ä–µ–∑–∫–∏–π —Ä–æ—Å—Ç –∫–ª—é—á–µ–≤–æ–π —Å—Ç–∞–≤–∫–∏  –∫–æ—Ç–æ—Ä—ã–π —Ç–æ—Ä–º–æ–∑–∏—Ç —ç–∫–æ–Ω–æ–º–∏–∫—É  –º—ã –ø–æ –ø—Ä–µ–∂–Ω–µ–º—É –æ–∂–∏–¥–∞–µ–º  —á—Ç–æ –∏–Ω—Ñ–ª—è—Ü–∏—è –≤ —Å—à–∞ –ø–æ –∏—Ç–æ–≥–∞–º  –≥–æ–¥–∞ –æ–ø—É—Å—Ç–∏—Ç—Å—è –¥–æ —É—Ä–æ–≤–Ω—è –æ–∫–æ–ª–æ     –≤ —Ü–µ–ª–æ–º —Å–µ–≥–æ–¥–Ω—è—à–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –±—ã–ª–∏ –æ–∂–∏–¥–∞–µ–º—ã —Ä—ã–Ω–∫–æ–º  –ø–æ—ç—Ç–æ–º—É –Ω–µ –ø—Ä–∏–Ω–µ—Å–ª–∏ —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω—ã—Ö –∏–∑–º–µ–Ω–µ–Ω–∏–π –≤ –æ–∂–∏–¥–∞–Ω–∏—è –ø–æ –∫–ª—é—á–µ–≤–æ–π —Å—Ç–∞–≤–∫–µ  —Ä—ã–Ω–æ–∫ –∂–¥–µ—Ç  —á—Ç–æ –Ω–∞ –±–ª–∏–∂–∞–π—à–µ–º –∑–∞—Å–µ–¥–∞–Ω–∏–∏ —Ä–µ–≥—É–ª—è—Ç–æ—Ä –∑–∞–º–µ–¥–ª–∏—Ç —à–∞–≥ –ø–æ–≤—ã—à–µ–Ω–∏—è —Å—Ç–∞–≤–∫–∏ –¥–æ  –±  –ø    –Ω–æ–≤–æ—Å—Ç–∏  news  —Å—Ç—Ä–∞—Ç–µ–≥–∏—è  '