In [95]:
import pandas as pd
import numpy as np
import seaborn as sns
import inspect
import matplotlib.pyplot as plt

In [96]:
df = pd.read_excel("posts.xlsx")

In [97]:
df.head()

,Unnamed: 0,id,date,text,publisher,reaction,comment
0,0,95367da2-8313-49c4-81f5-cbb1f8af69be,2023-01-14 17:17:08.793,"–ß—Ç–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –Ω–∞ –ú–æ—Å–±–∏—Ä–∂–µ, –æ—Å—Ç–∞–Ω–µ—Ç—Å—è –Ω–∞ –ú–æ—Å–±–∏...",Pulse_Official,161,111.0
1,1,c179933b-b992-41a8-953c-e8cddce0a277,2023-01-13 16:30:00.000,–í –ø—Ä—è–º–æ–º —ç—Ñ–∏—Ä–µ –í–∞—Å–∏–ª–∏–π –û–ª–µ–π–Ω–∏–∫ –∏ –ò—Ä–∏–Ω–∞ –ê—Ö–º–∞–¥—É–ª...,Tinkoff_Investments,140,29.0
2,2,9ee444e3-0ff1-4622-82b9-6ff7b1d00ec7,2023-01-12 06:50:00.000,–î–æ–±—Ä–æ–µ —É—Ç—Ä–æ! \n–ü—Ä–æ–¥–æ–ª–∂–∞–µ–º –≥–æ–≤–æ—Ä–∏—Ç—å –Ω–∞ —Ç–µ–º–∞—Ç–∏–∫—É...,Invest_Dim,315,149.0
3,3,4963f23d-f3ef-4c53-903e-74f62b851aab,2023-01-13 16:25:00.000,"–†–æ—Å—Å–∏–π—Å–∫–∏–π —Ä—ã–Ω–æ–∫¬†\n\n–ù–∞–ø–æ–º–∏–Ω–∞–µ–º, —á—Ç–æ –ø–æ¬†–∞–∫—Ü–∏—è–º...",Tinkoff_Investments,67,15.0
4,4,bedb0a0f-7657-4d27-a1fd-0b8005813eb5,2023-01-12 13:41:00.000,üìä –ò–Ω—Ñ–ª—è—Ü–∏–æ–Ω–Ω—ã–µ –æ–∂–∏–¥–∞–Ω–∏—è: —á—Ç–æ —Ç–∞–∫–æ–µ –∏ –∑–∞—á–µ–º –∏—Ö ...,FinDay,105,12.0

In [98]:
df.describe()

        Unnamed: 0     reaction       comment
count  3450.000000  3450.000000   3418.000000
mean   1724.500000   161.273043    177.120538
std     996.073541   147.782744    937.298884
min       0.000000     2.000000      1.000000
25%     862.250000    65.000000     16.000000
50%    1724.500000   129.000000     40.000000
75%    2586.750000   214.000000     91.000000
max    3449.000000  1672.000000  12891.000000

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3450 entries, 0 to 3449
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3450 non-null   int64
 1   id          3450 non-null   object
 2   date        3450 non-null   datetime64[ns]
 3   text        3450 non-null   object
 4   publisher   3450 non-null   object
 5   reaction    3450 non-null   int64
 6   comment     3418 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 188.8+ KB

In [100]:
df['text'] = df['text'].astype(str)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3450 entries, 0 to 3449
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3450 non-null   int64
 1   id          3450 non-null   object
 2   date        3450 non-null   datetime64[ns]
 3   text        3450 non-null   object
 4   publisher   3450 non-null   object
 5   reaction    3450 non-null   int64
 6   comment     3418 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 188.8+ KB

In [102]:
df.isnull().sum()

Unnamed: 0     0
id             0
date           0
text           0
publisher      0
reaction       0
comment       32
dtype: int64

In [103]:
df[df['comment'].isnull()].head(3)

,Unnamed: 0,id,date,text,publisher,reaction,comment
153,153,251afec9-0bad-4ed2-b740-c7a2d6fd5d02,2023-01-01 23:13:00,–í—Ä–µ–º—è-—Ñ–∏–Ω–∞–Ω—Å—ã-–∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–∏. –ü–æ—á–µ–º—É –≤—Ä–µ–º—è –≥–ª–∞–≤–Ω—ã–π...,dmz91,6,NaN
154,154,bb171d57-3038-481c-9d58-716f8ab999c6,2023-01-01 23:11:00,–í—Ä–µ–º—è-—Ñ–∏–Ω–∞–Ω—Å—ã-–∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–∏. –ü–æ—á–µ–º—É –≤—Ä–µ–º—è –≥–ª–∞–≤–Ω—ã–π...,dmz91,6,NaN
286,286,da92e5f3-e814-4742-a2b1-02c169d157ae,2022-12-23 10:50:00,üî•–¢–ï–•–ù–ò–ß–ï–°–ö–ò–ô –∏ –§–£–ù–î–ê–ú–ï–ù–¢–ê–õ–¨–ù–´–ô –∞–Ω–∞–ª–∏–∑. –ò—Ö —Ä–∞–∑–ª...,VASILEV.INVEST,8,NaN

In [104]:
import re

example_string = "This is a string with a link http://www.example.com"

cleaned_string = re.sub(r'http\S+', '', example_string)
print(cleaned_string)

This is a string with a link

In [105]:
example_string = "This is a string with a mention @username"

cleaned_string = re.sub(r"@\S+", "", example_string)
print(cleaned_string)

This is a string with a mention

In [106]:
example_string = "This is a string with a mention @username"

cleaned_string = example_string.lower()
print(cleaned_string)

this is a string with a mention @username

In [107]:
example_string = "This is a string with a mention @username"

cleaned_string = example_string.replace(r"@", "")
print(cleaned_string)

This is a string with a mention username

In [108]:
# –ü–ª–æ—Ö–∞—è —Ñ—É–Ω–∫—Ü–∏—è, —Å–Ω–µ—Å–ª–∞ –≤–µ—Å—å —Ç–µ–∫—Å—Ç
# def standardize_text1(df, text_field):
#     df[text_field] = df[text_field].str.replace(r"http\S+", "")
#     df[text_field] = df[text_field].str.replace(r"http", "")
#     df[text_field] = df[text_field].str.replace(r"@\S+", "")
#     df[text_field] = df[text_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ")
#     df[text_field] = df[text_field].str.replace(r"@", "at")
#     df[text_field] = df[text_field].str.lower()
#     return df

# df = standardize_text1(df, "text")

In [109]:
df['text'][2]

'–î–æ–±—Ä–æ–µ —É—Ç—Ä–æ! \n–ü—Ä–æ–¥–æ–ª–∂–∞–µ–º –≥–æ–≤–æ—Ä–∏—Ç—å –Ω–∞ —Ç–µ–º–∞—Ç–∏–∫—É –ú–∞–Ω–∏–ø—É–ª–∏—Ä–æ–≤–∞–Ω–∏—è —Ä—ã–Ω–∫–æ–º. \n\n–í—á–µ—Ä–∞ –ø–æ–≥–æ–≤–æ—Ä–∏–ª–∏ —Å –í–∞–º–∏ –Ω–∞ —Ç–µ–º—É: –ù–∞–∫–∞–∑–∞–Ω–∏—è –≤ –°–®–ê üá∫üá∏ –ø–æ –∏–Ω—Å–∞–π–¥–µ—Ä—Å–∫–æ–π —Ç–æ—Ä–≥–æ–≤–ª–µ –∏–ª–∏ –º–∞–Ω–∏–ø—É–ª–∏—Ä–æ–≤–∞–Ω–∏–µ–º —Ä—ã–Ω–∫–∞ üìä \n\n‚Ä¢–ß—Ç–æ–±—ã –Ω–µ –ø–æ—Ç–µ—Ä—è—Ç—å —ç—Ç–æ—Ç –ø–æ—Å—Ç, –ø—Ä–∏–∫—Ä–µ–ø–ª—è—é —Å—Å—ã–ª–∫—É: https://www.tinkoff.ru/invest/social/profile/Invest_Dim/366f8558-1b7d-4b8d-a358-2afb9a3aefeb?utm_source=share\n\n–ù–µ–º–Ω–æ–≥–æ –Ω–∞–ø–æ–º–Ω—é: \nüìå –®—Ç—Ä–∞—Ñ –∑–∞ —Ç–∞–∫–æ–≥–æ —Ä–æ–¥–∞ –ø—Ä–µ—Å—Ç—É–ø–ª–µ–Ω–∏–µ –≤ –°–®–ê üá∫üá∏ –º–æ–∂–µ—Ç –±—ã—Ç—å –≤ —Ä–∞–∑—ã –±–æ–ª—å—à–µ, —á–µ–º —Ä–∞–∑–º–µ—Ä –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –¥–µ–Ω–µ–∂–Ω—ã—Ö —Å—Ä–µ–¥—Å—Ç–≤ –æ—Ç —ç—Ç–æ–π –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ üí∏\u2028–ê –≤ —Ç—é—Ä—å–º—É –º–æ–∂–Ω–æ —Å–µ—Å—Ç—å –Ω–∞ —Å—Ä–æ–∫ –¥–æ 20 –ª–µ—Çüßëüèº\u200d‚öñÔ∏è\n\n üìå –°–µ–≥–æ–¥–Ω—è –ø—Ä–µ–¥–ª–∞–≥–∞—é –æ–∑–Ω–∞–∫–æ–º–∏—Ç—Å—è —Ç–∞–∫–∂–µ —Å –æ–¥–Ω–∏–º –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã–º —Å—É–¥–µ–±–Ω—ã–º –¥–µ–ª–æ–º –∑–∞ –∏–Ω—Å–∞–π–¥–µ—Ä—Å–∫—É—é —Ç–æ—Ä–≥–æ–≤–ª—é üíµ\n\n‚Ä¢13.10.2011 –≥ –§–µ–¥–µ—Ä–∞–ª—å–Ω—ã–π —Å—É–¥ –ú–∞–Ω—Ö—ç—Ç—Ç–µ–Ω–∞ –≤—ã–Ω–µ—Å –ø—Ä–∏–≥–æ–≤–æ—Ä –†–∞–¥–∂–∞ –†–∞–¥–∂–∞—Ä–∞—Ç–Ω–∞–º–∞ ‚Äì –≤–ª–∞–¥–µ–ª–µ—Ü —Ö–µ–¥–∂-—Ñ–æ–Ω–¥–∞ Galleon Group, –≤ –≤–∏–¥–µ 11 –ª–µ—Ç —Ä–µ–∞–ª—å–Ω–æ–≥–æ –ª–∏—à–µ–Ω–∏—è —Å–≤–æ–±–æ–¥—ã üßëüèº\u200d‚öñÔ∏è\n\nüìå –ï–≥–æ –ø—Ä–∏–∑–Ω–∞–ª–∏ –≤–∏–Ω–æ–≤–Ω—ã–º –≤ —Å–≤—è–∑–∏ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –∏–Ω—Å–∞–π–¥–µ—Ä—Å–∫–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏. –ü—Ä–∏ —ç—Ç–æ–º —Å–∞–º –º–∏–ª–ª–∏–∞—Ä–¥–µ—Ä –≤ —Å–≤–æ–µ –æ–ø—Ä–∞–≤–¥–∞–Ω–∏–µ –∑–∞—è–≤–∏–ª, —á—Ç–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª—Å—è —Å–≤–µ–¥–µ–Ω–∏—è–º–∏, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–º–∏ –≤ –æ—Ç–∫—Ä—ã—Ç–æ–º –¥–æ—Å—Ç—É–ø–µ üì∞ \n\n‚ùóÔ∏è–°—É–¥—å—è üßëüèº\u200d‚öñÔ∏è –≤—ã–Ω–µ—Å –µ–º—É –æ–¥–∏–Ω –∏–∑ —Å–∞–º—ã—Ö —Å—É—Ä–æ–≤—ã—Ö –ø—Ä–∏–≥–æ–≤–æ—Ä–æ–≤ –≤ –∏—Å—Ç–æ—Ä–∏–∏ –ø—Ä–æ—Ü–µ—Å—Å–æ–≤ –Ω–∞–¥ –∏–Ω—Å–∞–π–¥–µ—Ä–∞–º–∏ –≤ üá∫üá∏ –°–®–ê‚ùóÔ∏è\n\n–î–∞–≤–∞–π—Ç–µ –ø–µ—Ä–µ–º–µ—Å—Ç–∏–º—Å—è –Ω–∞ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –≤—Ä–µ–º—è –Ω–∞–∑–∞–¥ ‚è™ \n–í 1977 –≥–æ–¥—É –†–∞–¥–∂–∞ –æ—Å–Ω–æ–≤–∞–ª —Å–≤–æ—é –∫–æ–º–ø–∞–Ω–∏—é Galleon Group. \n‚Ä¢–í –∫–æ–º–ø–∞–Ω–∏–∏ –æ—á–µ–Ω—å –ª—é–±–∏–ª–∏ —Å–≤–æ–∏—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ üßë\u200düíº –ø–æ—ç—Ç–æ–º—É –Ω–µ –∂–∞–ª–µ–ª–∏ –¥–µ–Ω–µ–≥ üíµ –∏ –ø–æ —á–µ—Ç–≤–µ—Ä–≥–∞–º —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞–º –æ—Ñ–∏—Å–∞ –¥–µ–ª–∞–ª–∏ –º–∞—Å—Å–∞–∂, –±—ã–ª–∏ —Ç–∞–∫–∂–µ –∏ –±—É—Ä–Ω—ã–µ –∫–æ—Ä–ø–æ—Ä–∞—Ç–∏–≤—ã) –Ω–∞ 10 –ª–µ—Ç–Ω–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏ –†–∞–¥–∂–∞ –≤–æ–æ–±—â–µ –∞—Ä–µ–Ω–¥–æ–≤–∞–ª —Ü–µ–ª—ã–π –æ—Å—Ç—Ä–æ–≤ üèùÔ∏è –Ω–∞ –Ω–µ–¥–µ–ª—é, —á—Ç–æ–±—ã –∫–∞–∫ —Å–ª–µ–¥—É–µ—Ç –æ—Ç–º–µ—Ç–∏—Ç—å üéâ \n\nüìå –í–æ–æ–±—â–µ —á–∏—Ç–∞—è —ç—Ç—É –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é, –∫–∞–∫ –≤ –∫–æ–º–ø–∞–Ω–∏–∏'

In [116]:
import re

def standardize_text(text):
    text = re.sub('@[^\s]+', '', text)
    text = re.sub('http[^\s]+', '', text)
    #text = re.sub("[^0-9(),!?@\'\`\"\_\n]", " ", text) –ª–æ–º–∞–µ—Ç —Ç–µ–∫—Å—Ç
    text = re.sub(r'\d+', '', text)  # —É–±–∏—Ä–∞–µ—Ç —Ü–∏—Ñ—Ä—ã
    text = re.sub("[^\w\s]","", text)
    text = re.sub('\n', '', text)
    text = text.lower()
    return text

df['text'] = df['text'].apply(standardize_text)

In [121]:
df['text'][6]

'—Ä–∞—Å—Å–∫–∞–∑—ã–≤–∞–µ–º –∏\xa0–ø–æ–∫–∞–∑—ã–≤–∞–µ–º –ø–æ—á–µ–º—É —Ü–µ–Ω—Ç—Ä–æ–±–∞–Ω–∫ –º–æ–∂–µ—Ç –Ω–µ\xa0–æ–ø—Ä–∞–≤–¥–∞—Ç—å –Ω–∞–¥–µ–∂–¥ –∏–Ω–≤–µ—Å—Ç–æ—Ä–æ–≤ —á–∏—Ç–∞—Ç—å –æ–±–∑–æ—Ä'